<html>
<style>
h1 {
      text-align: center;
      font-size: 50px;
    }
a {
      text-align: center;
      font-size: 35px;      
}

h2 {
  text-align: center;
      font-size: 35px;
}
p {
  text-align: center;
  font-size: 25px;
}
</style>
  <main>
     
<h1 id="title">HAYAO MIYAZAKI</h1>
<div id="img-div">
<img id="image" src="https://i.ibb.co/X2zPJwW/132200.png" alt="132200" border="0">
<h2 id="img-caption"> World of Hayao Miyazaki </h2>
<p id="tribute-info"> list here</p>
    </div>
<div style="text-align: center";>
  <a id="tribute-link" href="https://www.fanpop.com/clubs/hayao-miyazaki" target="_blank">Hayao Miazaki fun club</a>
</div>
</main>
</html>
